@model MvcOnlineTicariOtomasyon.Models.Class.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left:20px">Yeni Departman Sayfası</h2>
<br />
<form class="form-group" method="post" style="margin-left:20px">
    @Html.LabelFor(x => x.Departmanad)
    @Html.TextBoxFor(x => x.Departmanad, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>


