@using MvcOnlineTicariOtomasyon.Models.Class
@model List<Personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px;margin-left:20px;margin-right:20px">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Personel Soyad</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.PersonelID
            </td>
            <td>
                @k.PersonelAd
            </td>
            <td>
                @k.PersonelSoyad
            </td>
            <td>
                @k.Departman.Departmanad
            </td>

            <td><a href="/Departman/DepartmanSil/@k.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@k.PersonelID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.PersonelID" class="btn btn-success" style="background-color:deeppink">Detay</a></td>
        </tr>
    }

</table>

<a href="/Personel/PersonelEkle" class="btn btn-info" style="margin-left:20px">Personel Ekle</a>



